$color: steelblue;
$size-movie-view__width: 150px;

@mixin style-movie-view__lables {
    font-weight: bold;
    text-decoration: underline;
}

@mixin style-movie-view__values {
    font-style: italic;
}

main {
    width: 100%;
    margin: 20px auto;
}

.main {
    &-view {
        width: 100%;
        color: $color;
        text-align: center;
    }
}

.movie {
    &-card {
        padding: 10px;
        margin: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            box-shadow: 2px 2px 4px #00000088;
        }
    }
    &-view {
        margin: auto;
        width: $size-movie-view__width;
        padding: 10px;
        border: 1px solid rgba(0, 0, 255, 0.226);
        border-radius: 5px;
    }
    &-poster {
        img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            margin: auto;
            box-shadow: 2px 2px 4px #000000c2;
        }
    }
    &-title {
        margin: 10px auto;

        &__label {
            @include style-movie-view__lables();
        }
        &__value {
            @include style-movie-view__values();
        }
    }
    &-description {
        margin: 10px auto;

        &__label {
            @include style-movie-view__lables();
        }
        &__value {
            @include style-movie-view__values();
        }
    }
}
