$color: steelblue;

.main {

    &-view {
        color: $color;
        border-bottom: 1px solid black;
        text-align: center;
    }
}

.movie {

    &-card {
        text-decoration: underline;
    }

    &-view {
        width: 100px;
    }

    &-poster {
        img {
            width: 200px;
            border-radius: 5px;
            box-shadow: 2px 2px 4px #000000c2;
        }
    }
    &-title {
        border: 1px solid green;
    }
}